.Login{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 1px 2px black;
    background-color: rgb(140, 140, 179);
    margin: 0px 500px;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

.Login input{
 border: 1px solid black;
 border-radius: 5px;
 margin: 15px; 
 padding: 5px 10px;
 background-color: lightgrey;
 width: 60%;
}

.Login button{
    margin:20px;
    padding:10px;
    background-color: rgb(241, 115, 115);
}